@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  button {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .bg-gradient-to-r {
    background: linear-gradient(90deg, rgba(67,56,247,1) 0%, rgba(19,51,143,1) 100%);
  }
  
  .text-center {
    text-align: center;
  }
  
  .grid {
    display: grid;
    gap: 20px;
  }
  
  .grid-cols-1 {
    grid-template-columns: 1fr;
  }
  
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .feature-card {
    background: #f9fafb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }